<h1 class="dashboard-welcome">Welcome <%= current_user.username.capitalize %></h1>
<hr>

<div class="wrapper-dashboard">
  <div class="row d-flex justify-content row-fix">
    <div class="col-md-auto your-bookings">
      <h2>Your bookings:</h2>
      <ul class="list-unstyled">
        <% @bookings.each do |booking| %>
          <% if booking.status == "Pending validation" %>
            <li class="dashboard">
              <div class='product-body card-product'>
                <% if booking.instrument.photo.attached? %>
                  <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                <% else %>
                  <%= link_to (cl_image_tag '/app/assets/images/guitar_dummy.jpg', height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                <% end %>
                <div class="card-product-infos row d-flex justify-content-between">
                  <div class="col-md-auto">
                    <h2><%= booking.instrument.name.titleize %></h2>
                    <div class="cancel-booking col-md-auto">
                        <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete"}, class: "btn btn-solid" %>
                    </div>
                  </div>
                  <div class="col-md-auto right-part">
                    <p><strong>From:</strong><%= booking.start_date %></p>
                    <p><strong>To:</strong><%= booking.end_date %></p>
                    <p><strong>Total price: </strong><%= (booking.end_date-booking.start_date).to_i*5 %> 🍺</p>
                    <p>Waiting for confirmation</p>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          <% if booking.status == "Confirmed" %>
            <li class="dashboard">
              <div class='product-body card-product'>
                <% if booking.instrument.photo.attached? %>
                  <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                <% else %>
                  <%= link_to (cl_image_tag '/app/assets/images/guitar_dummy.jpg', height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                <% end %>
                <div class="card-product-infos row d-flex justify-content-between">
                  <div class="col-md-auto">
                    <h2><%= booking.instrument.name.titleize %></h2>
                  </div>
                  <div class="col-md-auto right-part">
                    <p><strong>From:</strong><%= booking.start_date %></p>
                    <p><strong>To:</strong><%= booking.end_date %></p>
                    <p><strong>Total price: </strong><%= (booking.end_date-booking.start_date).to_i*5 %> 🍺</p>
                    <p><strong>Your booking is confirmed !</strong></p>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          <% if booking.status == "Canceled" %>
            <li class="dashboard">
              <div class='product-body card-product'>
                <% if booking.instrument.photo.attached? %>
                  <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                <% else %>
                  <%= link_to (cl_image_tag '/app/assets/images/guitar_dummy.jpg', height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                <% end %>
                <div class="card-product-infos row d-flex justify-content-between">
                  <div class="col-md-auto">
                    <h2><%= booking.instrument.name.titleize %></h2>
                  </div>
                  <div class="col-md-auto right-part">
                    <p><strong>From:</strong><%= booking.start_date %></p>
                    <p><strong>To:</strong><%= booking.end_date %></p>
                    <p><strong>Total price: </strong><%= (booking.end_date-booking.start_date).to_i*5 %> 🍺</p>
                    <p><strong><%= booking.instrument.user.username.titleize %> canceled your booking</strong></p>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="border">
    </div>
    <div class="col-md-auto booking-instruments">
      <h2>Bookings of your instruments:</h2>
      <ul class="list-unstyled">
        <% @instruments.each do |instrument| %>
          <% instrument.bookings.each do |booking| %>
              <li class="dashboard">
                <div class='product-body card-product'>
                  <% if booking.instrument.photo.attached? %>
                    <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
                  <% else %>
                    <%= link_to instrument_path(instrument) do %>
                      <%= image_tag '/app/assets/images/guitar_dummy.jpg', class: 'instrument-image' %>
                    <% end %>
                  <% end %>
                  <div class="card-product-infos row d-flex justify-content-between">
                    <div class="col-md-auto">
                      <% if booking.status == "Pending validation" %>
                        <h5><%= booking.user.username.titleize %> wants to rent your <%= booking.instrument.name %></h5>
                        <div class="accept-buttons row d-flex justify-content-between">
                          <div class="accept col-md-auto">
                            <%= link_to "Accept ", booking_path(id: booking.id, booking: {status: "Confirmed"}), method: :patch, class: "btn btn-solid" %>
                          </div>
                          <div class="decline col-md-auto">
                            <%= link_to "Decline", booking_path(id: booking.id, booking: {status: "Canceled"}), method: :patch, class: "btn btn-ghost" %>
                          </div>
                        </div>
                      <% elsif booking.status == "Confirmed" %>
                        <h5>✔ Confirmed booking of <%= booking.user.username %></h5>
                        <div class="accept-buttons row d-flex justify-content-between">
                          <div class="accept col-md-auto">
                          </div>
                          <div class="decline col-md-auto">
                          </div>
                        </div>
                      <% elsif booking.status == "Canceled" %>
                        <h5>❌ You canceled booking of <%= booking.user.username %></h5>
                        <div class="accept-buttons row d-flex justify-content-between">
                          <div class="accept col-md-auto">
                          </div>
                          <div class="decline col-md-auto">
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-auto right-part">
                      <p><strong>From:</strong><%= booking.start_date %></p>
                      <p><strong>To:</strong><%= booking.end_date %></p>
                      <p><strong>Total price: </strong><%= (booking.end_date-booking.start_date).to_i*5 %> 🍺</p>
                    </div>
                  </div>
                </div>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
