<h1>Welcome <%= current_user.username.capitalize %></h1>
<hr>
<div class="wrapper-dashboard">
  <div class="row d-flex justify-content row-fix">

    <!-- List of the instruments you want to rent (shown on the left side) -->

    <div class="col-md-auto your-bookings">
      <h2>Your bookings:</h2>
      <ul class="list-unstyled">
        <% @bookings.each do |booking| %>
        <% if booking.status == "Pending validation" %>
        <li class="dashboard">
          <div class='product-body card-product'>
            <% if booking.instrument.photo.attached? %>
            <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
            <% else %>
            <%= link_to instrument_path(instrument) do %>
            <%= image_tag '/app/assets/images/guitar_dummy.jpg', class: 'instrument-image' %>
            <% end %>
            <% end %>

            <div class="card-product-infos row d-flex justify-content-between">
              <div class="col-md-auto">
                <h2><%= booking.instrument.name %></h2>

                <div class="cancel-booking col-md-auto">
                 <label class="btn btn-ghost">Cancel Booking
                   <span style="display:none;">
                    <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete"} %>
                  </span>
                </label>
              </div>



              </div>
              <div class="col-md-auto right-part">
                <p><strong>From:</strong><%= booking.start_date %></p>
                <p><strong>To:</strong><%= booking.end_date %></p>
                <p><strong>Total price: </strong><%= @total_price %> 🍺</p>
                <p>Waiting for confirmation</p>
              </div>
            </div>
          </div>
        </li>
        <% end %>


        <% if booking.status == "Confirmed" %>
        <li class="dashboard">
          <div class='product-body card-product'>
            <% if booking.instrument.photo.attached? %>
            <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
            <% else %>
            <%= link_to instrument_path(instrument) do %>
            <%= image_tag '/app/assets/images/guitar_dummy.jpg', class: 'instrument-image' %>
            <% end %>
            <% end %>

            <div class="card-product-infos row d-flex justify-content-between">
              <div class="col-md-auto">
                <h2><%= booking.instrument.name %></h2>
                <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete"} %>
              </div>
              <div class="col-md-auto right-part">
                <p> <strong>From:</strong><%= booking.start_date %></p>
                <p> <strong>To:</strong><%= booking.end_date %></p>
                <p><strong>Total price: </strong><%= @total_price %> 🍺</p>
              </div>
              <div>
                <ul>
                  <li><strong>Your booking is confirmed !</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <% end %>


        <% if booking.status == "Canceled" %>
        <li class="dashboard">
          <div class='product-body card-product'>
            <% if booking.instrument.photo.attached? %>
            <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
            <% else %>
            <%= link_to instrument_path(instrument) do %>
            <%= image_tag '/app/assets/images/guitar_dummy.jpg', class: 'instrument-image' %>
            <% end %>
            <% end %>

            <div class="card-product-infos row d-flex justify-content-between">
              <div class="col-md-auto">
                <h2><%= booking.instrument.name %></h2>
              </div>
              <div class="col-md-auto right-part">
                <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete"} %>
                <p> <strong>From:</strong><%= booking.start_date %></p>
                <p> <strong>To:</strong><%= booking.end_date %></p>
                <p><strong>Total price: </strong><%= @total_price %> 🍺</p>
              </div>
              <div>
                <ul>
                  <li><p><%= booking.instrument.user.username %> canceled your booking </p></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <% end %>


        <% end %>
      </ul>
    </div>

    <!-- <div class="col-md-auto border"></div> -->
    <!-- List of the instruments you are sharing (shown on the right side) -->

    <div class="col-md-auto booking-instruments">
      <h2>Bookings of your instruments:</h2>
      <ul class="list-unstyled">
        <% @instruments.each do |instrument| %>
        <% instrument.bookings.each do |booking| %>

        <% if booking.status == "Pending validation" %>
        <li class="dashboard">
          <div class='product-body card-product'>
            <% if booking.instrument.photo.attached? %>
            <%= link_to (cl_image_tag booking.instrument.photo.key, height: 320, width: 320, crop: :fill, class: 'instrument-image'), instrument_path(booking.instrument) %>
            <% else %>
            <%= link_to instrument_path(instrument) do %>
            <%= image_tag '/app/assets/images/guitar_dummy.jpg', class: 'instrument-image' %>
            <% end %>
            <% end %>


            <div class="card-product-infos row d-flex justify-content-between">
              <div class="col-md-auto">
                <h2><%= booking.user.username %> wants to rent your instrument</h2>
                <div class="accept-buttons row d-flex justify-content-between">

                 <div class="accept col-md-auto">
                   <label class="btn btn-solid">Accept
                     <span style="display:none;">
                      <%= link_to "Accept ", booking_path(booking, booking: {status: "Confirmed"}), method: :patch%>
                    </span>
                  </label>
                </div>

                <div class="decline col-md-auto">
                 <label class="btn btn-ghost">Decline
                   <span style="display:none;">
                    <%= link_to "Decline", booking_path(booking, booking: {status: "Canceled"}), method: :patch%>
                  </span>
                </label>
              </div>

            </div>
          </div>
          <div class="col-md-auto right-part">
            <h2> Dates : <%= booking.start_date %> - <%= booking.end_date %> </h2>

          </div>
        </div>
      </div>
    </li>

    <% elsif booking.status == "Confirmed" %>
    <p>✔ Confirmed <%= booking.user.username %> to rent your instrument</p>
    <p> Dates : <%= booking.start_date %> and <%= booking.end_date %> </p>

    <% elsif booking.status == "Confirmed" %>
    <p>❌ You canceled booking of <%= booking.user.username %></p>
    <p> Dates : <%= booking.start_date %> and <%= booking.end_date %> </p>

    <% end %>
  </div>
  <% end %>

  <% end %>

</ul>
</div>


</dic>
</div>
