<div class="container">

  <div class="name-div">
    <h1><%= @instrument.name.titleize %></h1>
  </div>

  <div class="d-flex show-card">

    <div class="instrument-picture col-lg-6">
      <%= cl_image_tag @instrument.photo.key, height: 600, width: 600, crop: :fill, class: 'instrument-picture' %>
    </div>

    <div class="col-lg-6 show-card-details">

      <% if @instrument.user != current_user %>
      <div class="instrument-details">
        <h4>Description:</h4>
        <p><%= @instrument.description %></p>
      </div>

      <div class="container">

          <div class="row">
            <h4>Select dates:</h4>
            <div class="booking-form">
            <%= simple_form_for [@instrument, @booking] do |f| %>
              From: <%= f.text_field :start_date, class: "start_date", data: { behavior: "flatpickr" }, value: @start_date, placeholder: "dd/mm/yyyy" %>
              To: <%= f.text_field :end_date, class: "end_date", data: { behavior: "flatpickr" }, value: @end_date, placeholder: "dd/mm/yyyy" %>
        <br>
        <br>
        <h4>Total beers: <span id="total_price"></span></h4>
        <%= f.submit "Book Now", class: "btn-solid"%>
        <% end%>
        <% else %>
        <div class="instrument-details">
          <h4>Description:</h4>
          <p><%= @instrument.description %></p>
        </div>
        <% end%>
        <br>
          <%= link_to "Back to search results", instruments_path %>
        </div>
        </div>

      </div>










    </div>

  </div>

</div>
<script>
  const myInput = document.querySelector("#new_booking");
  myInput.addEventListener("change", (event) => {
    const currentTarget = event.currentTarget;
    const start = document.querySelector("#booking_start_date");
    const end = document.querySelector("#booking_end_date");
    const oneDay = 24 * 60 * 60 * 1000;
    const firstDate = new Date(start.value);
    const secondDate = new Date(end.value);
    const diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));
    if (diffDays>0) {
      document.querySelector("#total_price").innerHTML = (diffDays*5) +" 🍺";
    };

  });

</script>
