
<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="instrument-picture">
    <h1><%= @instrument.name %></h1>

    </div>
    <div class="booking-form">
      <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <%= simple_form_for [@instrument, @booking] do |f| %>
          <div class="booking-card">
            <div class="text-left">
            <p><strong>From: </strong></p>
            <%= f.text_field :start_date, data: { behavior: "flatpickr" }, value: @start_date, placeholder: "dd/mm/yyyy" %>
            </div>
            <div class="text-left to">
              <p><strong>To: </strong></p>
              <%= f.text_field :end_date, data: { behavior: "flatpickr" }, value: @end_date, placeholder: "dd/mm/yyyy" %>
            </div>
            <div class="text-left total">
              <p><strong>Total beers: <span id="total_price"></span></strong></p>
              <%= f.submit "Book", class: "btn btn-danger"%>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
  <div class="instrument-details">
    <p><strong>Descrition:</strong></p>
    <p><%= @instrument.description %></p>
    <%= link_to "Back to search results", instruments_path %>
  </div>


</div>
