<!DOCTYPE html>
<html>
<head>
  <title>AirbnbClone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <div class="wrapper">

  <%= yield %>




</div>
<div class="push"></div>
  <%= render 'shared/footer' %>
</body>
</html>
